<footer class="container-fluid">
    <div class="row text-center bg-white">
        <section class="col-12 col-lg-4 p-3">
            <i class="fa-solid fa-credit-card color-primary fs-4"></i>
            <h2 class="fs-4">Pagá con tarjeta o en efectivo</h2>
            <p class="">
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos
                de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section class="col-12 col-lg-4 p-3">
            <i class="fa-solid fa-gift color-primary fs-4"></i>
            <h2 class="fs-4">Envío gratis desde $ 2.500</h2>
            <p class="">
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section class="col-12 col-lg-4 p-3">
            <i class="fa-solid fa-user-shield color-primary fs-4"></i>
            <h2 class="fs-4">Seguridad, de principio a fin</h2>
            <p class="">
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque
                estás siempre protegido.
            </p>
        </section>
    </div>
    <section class="text-center p-3">Copyright © 1999-2022 MercadoLiebre S.R.L.</section>
</footer>
