<!DOCTYPE html>
<html lang="es">
    <head>
        <%- include("./partials/head") %>
        <title>Mercado Liebre</title>
    </head>
    <body class="d-flex flex-column min-vh-100 bg-gray">
        <%- include("./partials/header") %>
        <img class="w-100" src="/img/img-home-banner.jpg" alt="banner" />
        <main class="flex-fill container py-3">
            <h2 class="fs-3 py-3">Productos Destacados</h2>
            <section class="row">
                <% products.forEach(product => { %>
                <div class="col col-md-6 col-lg-3 py-3">
                    <%- include("partials/product-card", { product }) %>
                </div>

                <% }); %>
            </section>
        </main>

        <%- include("./partials/footer") %>
    </body>
</html>
